.body{
   background: lightgray;
   width: 350px;
   margin: auto;
   padding: 20px;
   border-radius: 10px;

};
.div{
   background-color: aqua;
   width: 350px;
   margin: auto;
   padding: 20px;
   border-radius: 10px;

}