main {
  width: 25%;
}
div {
  
  width: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}
.id-card {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 3px solid #ccc;
  text-align: center;
}
.container {
  padding: 15px;
  border: 2px solid #ccc;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}
