main {
  width: 100%; 
 
 text-align: center;
 height: 100vh;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}
/* div {
  
  width: 350px;
  margin: auto;
  padding: 20px;
  border-radius: 10px; */

.id-card {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 3px solid #ccc;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container {
  padding: 15px;
  border: 2px solid #ccc;
  background-color: #f0f0f0;


}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }