.container{ 
    display:flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    height: 100vh;
    
}

.box{
    width: 200px;
    height: 200px;
    background-color: red;
 }

 .container :nth-child(odd){
    background-color: aqua;
 }
 *{
    margin: 0%;
    padding: 0%;
 }